<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DB" connectionString="Data Source=192.168.1.5;Initial Catalog=db_Salarios;User ID='sa';Password='admin$2013*'"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ServicioPlaHttpBinding" maxBufferPoolSize="99999999"
                    maxBufferSize="99999999" maxReceivedMessageSize="99999999">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                </binding>
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="ServicioPlaTcpBinding" maxBufferPoolSize="52428800"
                    maxBufferSize="65536000" maxReceivedMessageSize="65536000" />
            </netTcpBinding>
        </bindings>
        <behaviors>
            <serviceBehaviors>
                <behavior name="PlanillaBehavior">
                    <serviceDebug includeExceptionDetailInFaults="true" />
                    <serviceMetadata httpGetEnabled="true" httpGetUrl="http://localhost:8080/ServicioPlanilla" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service behaviorConfiguration="PlanillaBehavior" name="SolPlanilla.WCF.ServicioPlanilla">
                <endpoint address="http://localhost:8080/ServicioPlanilla" binding="basicHttpBinding"
                    bindingConfiguration="ServicioPlaHttpBinding" name="Http_EndPoint"
                    contract="SolPlanilla.WCF.IServicioPlanilla" />
                <endpoint address="net.tcp://localhost:8081/ServicioPlanilla"
                    binding="netTcpBinding" bindingConfiguration="ServicioPlaTcpBinding"
                    name="Tcp_EndPoint" contract="SolPlanilla.WCF.IServicioPlanilla" />
            </service>
        </services>
    </system.serviceModel>
</configuration>