<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

    <appSettings>
      <!--<add key ="Puerto" value ="Tcp_EndPoint"/>  Http_EndPoint-->
      <add key="PuertoWcf"  value="Http_EndPoint" />
    </appSettings>
  

    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="Http_EndPoint" maxBufferPoolSize="52428800" maxReceivedMessageSize="65536000" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="Tcp_EndPoint" maxBufferPoolSize="52428800" maxReceivedMessageSize="65536000" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/ServicioPlanilla" binding="basicHttpBinding"
                bindingConfiguration="Http_EndPoint" contract="ProxyWeb.IServicioPlanilla"
                name="Http_EndPoint" />
            <endpoint address="net.tcp://localhost:8081/ServicioPlanilla"
                binding="netTcpBinding" bindingConfiguration="Tcp_EndPoint"
                contract="ProxyWeb.IServicioPlanilla" name="Tcp_EndPoint">
                <identity>
                    <userPrincipalName value="WIN-I37GCERGJRP\Zero" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>